    .color__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
    }
    .Form {
        position: relative;
        border: 2px solid transparent;
        box-shadow: 4px 5px 10px 5px rgba(0,0,0,0.3);
        border-radius: 5px;
        max-width: 768px;
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 25px;
        min-height: 400px;
        background-color: rgba(52, 122, 202, .8);
        &__title {
            width: 70%;
            text-align: left;
            margin-bottom: 30px;
            color: white;
        }
        &__input {
            width: 95%;
            align-self: center;
            padding: 8px;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, .3);
            border: none;
            outline: none;
            margin: 10px;
            box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.2);
        }
        &__status {
            position: absolute;
            width: 70%;
            color: rgb(0, 255, 0);
            align-self: center;
            width: 70%;
            bottom: 10px;
        }
        &__button {
            padding: 8px;
            width: 120px;
            border: none;
            border-radius: 5px;
            box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.2);
            background-color: rgb(74, 192, 74);
            align-self: flex-end;
            margin-right: 5%;
        }
    }
::placeholder {
    color: white;
}