.color__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
}
.Todo__grid {
  padding: 15px 0;
  z-index: 1;
  display: grid;
  max-width: 1280px;
  width: 70%;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin: 0 auto;
  position: relative;
  .Grid__item {
    min-height: 200px;
    border-radius: 10px;
    background-color: rgb(155, 155, 155);
    box-shadow: 3px 5px 10px 3px rgba(0,0,0,.3);
    position: relative;
    &-title {
      background-color: rgb(52, 122, 202);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: left;
      padding: 5px;
    }
    &-description {
      text-align: left;
      color: rgb(10, 7, 7);
      padding: 15px;
      min-height: 50%;
    }
    &-button {
      position: absolute;
      bottom: 0;
      margin: 15px;
      right: 0;
      padding: 8px 15px;
      border-radius: 5px;
      border: none;
      background-color: rgb(253, 36, 36);
      color: white;
      font-size: 18px;
      &:hover {
        background-color: rgb(252, 58, 58);
      }
    }
  }
}