.Footer {
    position: relative;
    width: 100%;
    height: 5vh;
    background-color: rgb(52, 122, 202);
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}