.Header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: rgb(52, 122, 202);
    padding: 0 15px;
    &__link {
        text-decoration: none;
        color: white;
        margin: 0 15px;
        &:hover {
            font-weight: 600;
            border-bottom: 2px solid white;
        }
    }
}