.Container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../../imgs/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}